h1 {
    color: var(--sky_blue);
    font-weight: 900;
}

p {
    font-weight: 600;
}

.selection_container {
    background-color: var(--sky_blue);
    color: white;
    font-weight: 500;
}

body {
    background-color: var(--grey);
}

.col-sm-3,
.col-md-2 {
    background-color: var(--grey-card);
}

select {
    cursor: pointer;
}