h1 {
    color: var(--sky_blue);
    font-weight: 900;
}

.selection_container {
    background-color: var(--sky_blue);
    color: white;
    font-weight: 500;
}

#container_icons {
    background-color: var(--grey);
}

.col-sm-3,
.col-md-2 {
    background-color: var(--grey-card);
}